// register.scss

.register{
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .footer {
        .padding {
            height:3.625rem;
        }
    }
}

