.cart{
    .wrapper{
        // width: 20rem;
        padding: 0 16rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        

        // .item-list{
        //     .item{
        //         margin-top: 2rem;
        //         width: 25rem;
        //         display: flex;
        //         justify-content: space-between;

            
        //     }
        // }

        table{
            margin-top: 3rem;

            tr{
                // padding: 1rem 0;
                // display: block;
                
                td{
                    padding: 1rem 0;
                    width: 7rem;
                    text-align: center;
                }

                th{
                    width: 7rem;
                    padding-bottom: 1rem;

                    .add-product{
                        
                        font-size: 1.4rem;

                    }
                }
            }
        }

        .total-price{
            border-top: 1px solid #000000;
            width: 31rem;
            margin-top: 2rem;

            display: flex;
            justify-content: space-between;

            padding: 1rem 3rem;

            box-sizing: border-box;
        }

        .btn{
            color: rgb(45, 82, 136);
            &:hover{
                cursor: pointer;
                text-decoration: underline;
            }
        }
        

        .buy{
            width: 31rem;
            text-align: center;
            margin-top: 1rem;
            border: 1px solid #000000;
            border-radius: 5px;
            padding: 0.5rem 0;

            &:hover{
                cursor: pointer;
                opacity: 0.7;
            }
        }
    }
}