.navbar-container{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0 16rem;
    
    display: flex;
    justify-content: center;

    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 34rem;

        li{
            // margin-right: 7rem;

            &:hover{
                cursor: pointer;
                opacity: 0.7;
            }
        }
    }
}